.link-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .page-links, .social-links ul {
    display: flex;
    align-items: center;
    column-gap: 2rem; 
    list-style: none;
    padding: 0;
    margin-top: 0.5rem;
    height: 100%;
    width: 100%;
    font-size: 2rem;
  }
  .page-links button{
    text-align: left;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
  }

  .social-links ul {
    align-items: center;
    text-align: right;
    margin-right: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .scroll-to-top {
    background-color: transparent;       
    font-size: 1.5rem;
    border: 3px solid var(--text-link-color);            
    border-radius: 50%;                  
    width: 50px;
    height: 50px;
    cursor: pointer;
    box-shadow: 0 4px 6px var(--border-color);
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
  }
  
  .scroll-to-top:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 10px var(--border-color);
  }

  .baner-links{
    width: 100%;
    position: relative;
    text-align:  right; 
    padding-bottom: 5px;
    }

    .baner-links img{
    height:80px;
    width: auto;
    border: 1px solid #c29269;
    margin-right: 20px;
    }

  @media (min-width: 768px) {
    .snsId {
        position: absolute;
        font-size: 1.5rem;
        opacity: 0;
        transition: all 0.5s ease;
        right: 30rem;
        pointer-events: none;
    }
    
    .twitter:hover .snsId,
    .instagram:hover .snsId,
    .github:hover .snsId  {
        right: 12rem;
        opacity: 1;
    }
  }




  @media (max-width: 768px) {

    .link-section {
        flex-direction: column;
        align-items: center;
      }
    
      .snsId {
        display: flex;
        font-size: 1.5rem;
        white-space: nowrap;
        position: absolute;
        opacity: 0;
        transition: all 0.5s ease;
        align-items: center;
        left:50vw;
        text-align: center;
        transform: translate(-50%,3rem);
        pointer-events: none;
      }
    
      .twitter:hover .snsId,
      .instagram:hover .snsId,
      .github:hover .snsId  {
        opacity: 1;
        transform: translate(-50%,2rem);
      }
    
      .navButton {
        padding: 0;
    }
    
    .page-links{
      display:none;
    }
    
    
    .baner-links{
      text-align:  center; 
    }
    
    .baner-links img{
      height:auto;
      width: 80vw;
      margin: auto;
    }

  }