
.site-name {
    font-size: 2.5rem;
    font-weight: bold;
    color:var(--text-base-color);
}

.title{
    display: flex;
    align-items: center;
}

.navbar {
    position: fixed;
    width: 100%;             
    z-index: 2;           
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.5rem;
    margin-left:1rem;
  }

  .nav-links {
    display: flex;
    flex-direction:row;
    align-items: center;
    column-gap: 2rem; 
    list-style: none;
    padding: 2rem;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .hamburger-menu {
    background-color: var(--background-color);       
    border: 3px solid var(--text-link-color);            
    border-radius: 50%;                 
    cursor: pointer;
    box-shadow: 0 4px 6px  var(--border-color);
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
    align-items: center;
    justify-content: center;
    display: none;
    margin-top: 2rem;
    margin-right: 3rem;
    font-size: 3rem;
    width: 4rem;
    height: 4rem;
  }

  .hamburger-menu:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 10px var(--border-color);
  }

  .honey-drip-box {
    position: relative;
    border-radius: 1rem;
    background-color: var(--bottun-color);
    margin: 20px 0;
    overflow: hidden;
  }
  
    .honey-drip-box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 45' preserveAspectRatio='none'><path d='M0 40 C 40 -20, 80 60, 120 0 S 200 40, 260 10 S 340 60, 400 0 S 460 50, 500 40 V0 H0 Z' fill='%23f9d276'/></svg>") no-repeat;
    background-size: cover;
    z-index: 1;
    pointer-events: none;
    }
    
    .honey-drip-text{
    position: relative;
    z-index: 10;
    }

 
  @media (max-width: 768px) {
    .nav-links {
        padding-top: 0;
        padding-bottom: 0;
        font-size: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 0rem;
        flex-direction: column;
        position: absolute;
        top: 6rem;
        right: 10%;
        width: 30%;
        z-index:15;
        opacity:0;
        transition: all 0.5s ease-in-out;
        pointer-events: none;
    }

    .nav-links.open {
        display: flex;
        opacity: 1.0;
        pointer-events: auto;
    }

    .hamburger-menu {
        display: flex;
    }
  }